ul{
    padding: 0;
    display: flex;
    align-items: center;
    border: 2px solid black;
    list-style: none;;
    overflow: hidden;
    background-color: black;
}


li a{
    align-items: center;
    display: block;
    color: white;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    top: 0;
}
a:hover{
    background-color: white;
    color: black;

}
input[type="text"]{
    padding: 5px;
    float: right;
    border: none;

}
input:hover{
    background-color: white;
    color: black;
}
a.active{
    background-color: white;
    color: black;
}

h1,h2{
    text-align: center;
}

nav{
    top: 0;
}

body{
    max-width: 95%;
}