ul{
    padding: 0;
    position: sticky;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    list-style: none;;
    overflow: hidden;
    background-color: black;
}


li a{
    align-items: center;
    display: block;
    color: white;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    top: 0;
}
a:hover{
    background-color: white;
    color: black;

}
input[type="search"]{
    padding: 5px;
    float: right;
    border: solid black;

}
img{
    display: block;
    max-width: 100%;
}
a.active{
    background-color: white;
    color: black;
}
h1{
    text-align: center;
    
}
h2{
    text-align: center;
}

nav{
    top: 0;
}

html,body{
    font-family: Arial, Helvetica, sans-serif;
    height:100%;
    margin:0;
}
.logo-container{
    position: relative;
    width: 60%;
    margin: 0 auto;
}
.logo-container img{
    width: 90%;
    height: auto;
    display: block;
}
.logo-container h1{
    position: absolute;
    margin: 0;
    width:80%;
    text-align: center;
    left: 45%;
    top: 47%;
    transform: translate(-50%,-50%);


}
