.menu{
    box-sizing: border-box;
    border-style:inset;
    text-align: center;
    background-color: rgb(112, 112, 112);
    border-radius: 10px;
}
.logo{
    display: block;
    margin:auto;
    border: outset;
    float: bottom;   
}

img{

    border-style:inset;
}


ul{

    box-sizing: border-box;
    text-align:center;
    border:2px solid black;
    overflow:hidden;
    background-color: black;

    
    left:20px;
    left:30%;

}

ul li{
    display: inline-block;
}
ul li a{
    display:inline-block;
    color: white;
    text-align:center;
    padding:15px 20px;
    text-decoration: none;
    top: 0;
}
a:hover{
    background-color: white;
    color:black;

}
h1,h2{
    text-align:center;
}

body{
    margin-top:0;
    margin-bottom:20px;
    margin-left:20px;
    margin-right:20px;
}

h2{
    box-sizing: border-box;
    width:fit-content;

    position:relative;
    left:37%;
    border-style:outset;
    text-align: center;
   border-radius: 10px;
    
}
.paragraph{
column-count: 1;
column-width: 50px;

}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
body{
    background-image:linear-gradient(to right,lightgray,black);

}

/*feedback page*/
.experience{
    border-style: inset;
    background-color: grey;
    padding-bottom:70px;
    padding-right:10px;
    margin-bottom:70px;
    border-radius:15px;
    width:fit-content;
    

    
}
.boxfeedback{
    width: 30px; 
    height: 30px; 
    border: outset black; 
    float:left;
    margin-left:40px;
    background-color: lightgray;
    border-radius: 15px;
    

}
.boxfeedbacklast{
    width: 30px; 
    height: 30px; 
    border: outset black; 
    float:left;
    margin-right:50px;
    margin-left:40px;
    background-color: lightgrey;
    border-radius: 15px;
}


.containercomments {
    width: 100%;
}

.comments {
    width: 40%;
    border: inset white;
    padding: 20px;
    float: right;
    background-image:linear-gradient(to right,rgb(105, 105, 105),lightgrey);
    padding-bottom: 200px;
    border-radius:15px;
}
#ftype{
    width:100%;
    padding-bottom:250px;
    background-color: gray;
    border-radius: 15px;;
}

